*, ::before, ::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background-color: #1d244b;
  font-family: 'Bebas Neue', sans-serif;
  scroll-behavior: smooth;
  color: white;
  overflow-x: hidden;
}

.img-res {
  width: 100%;
  max-width: 100%;
  height: auto;
  border: 0;
  -ms-interpolation-mode: bicubic;
  vertical-align: bottom;
}

body::-webkit-scrollbar {
  width: .3rem;
}

body::-webkit-scrollbar-track {
  box-shadow: inset 0 0 6px white;
}

body::-webkit-scrollbar-thumb {
  background: #a60080;
}